@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot"),url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
@import url("http://fonts.googleapis.com/css?family=Oxygen");
aside{background:rgba(51,155,153,0.25);border:0 dashed #f00;display:block;margin:0;padding:.2em .5em;}
aside .sociales{margin:0;padding:0;height:50px;line-height:50px;overflow-x:auto;white-space:nowrap;}
aside .sociales li{display:inline-block;margin:0;padding:0;text-align:center;width:24%}
body{background:rgba(0,0,0,0.1) fixed;border:0 solid #000;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:16px;margin:0 auto;max-width:1024px;padding:0}
.contenidos{background:rgba(51,155,153,0.25);color:rgba(0,0,0,0.7);font-family:'Oxygen',sans-serif;font-weight:normal;padding:.2em .5em;position:relative;text-align:justify;}
.contenidos p{margin:0 0}
footer{background:rgba(51,153,204,0.75);border:0 dashed #f00;color:rgba(0,0,0,0.7);display:block;font-weight:normal;margin:0;padding:.1em .2em;position:relative;}
footer h3{border:0 solid #f00;font-size:.75em;margin:0;overflow:hidden;padding:0;}
footer h3 .clausulas{border:0 solid #ffa500;margin:0 0 0 -50px;padding:0;float:right;text-align:justify;vertical-align:top;width:75%}
footer h3 strong{border:0 solid #00f;display:inline-block;margin:0;padding:0;width:25%}
header{background:rgba(255,255,255,0.1);border:0 solid #000;color:rgba(0,0,0,0.7);margin:0;overflow:hidden;padding:.5em;position:relative;text-align:justify;z-index:2;}
header .direccion{background:rgba(51,155,153,0.25);border:0 solid #00f;border-radius:.5em;box-shadow:3px 2px 2px rgba(51,153,204,0.75);font-family:'Oxygen',sans-serif;font-style:italic;font-weight:normal;display:none;margin:0 20px 0 160px;position:absolute;right:0;top:7px;}
header .direccion .datos{border:0 dashed #f00;padding:.5em;}
header .direccion .datos p{margin:0}
header .direccion .telefono{border:0 dashed #f00;left:-50px;position:absolute;text-decoration:none;text-shadow:5px 7px 15px rgba(0,0,0,0.7);top:30px;z-index:0;}
header .direccion .telefono:before{color:rgba(0,0,0,0.7);content:'\e604';font-family:'icomoon';font-size:2.5em;speak:none}
header .logo{border-right:0 solid #00f;float:left;max-width:150px;}
header .logo img{width:150px}
header .titular{border:0 solid #000;margin:0 0 0 160px;padding:0;vertical-align:top;}
header .titular .titulo{font-size:40px;margin:0;padding:0;text-shadow:2px 0 1px rgba(0,0,0,0.7)}
header .titular .eslogan{margin:0;padding:0}
nav{background:rgba(51,153,204,0.75);border:0 dashed #f00;border-left:15px solid #fff;display:block;margin:0;position:relative;z-index:2;}
nav:before{border-bottom:15px solid transparent;border-left:7px solid #fff;border-top:15px solid transparent;content:"";left:0;position:absolute;top:0}
nav .menu{height:30px;line-height:30px;margin:0;overflow-x:auto;padding:0;white-space:nowrap;}
nav .menu::-webkit-scrollbar{display:none}
nav .menu li{display:inline-block;margin:0;padding:0;}
nav .menu li a{color:#fff;display:block;font-weight:bold;margin:0 .5em;padding:.2em .2em;text-decoration:none;}
nav .menu li a:hover{background:rgba(0,0,0,0.25);border-radius:.2em}
@media screen and (min-width: 768px){aside{border:0 dashed #00f;box-sizing:border-box;display:inline-block;height:500px;margin:0 0;padding:.2em;position:relative;width:30%;}
aside .sociales{border:0 dashed #008000;margin:0;padding:0;height:100%;}
aside .sociales li{border:0 solid #000;display:block;width:99%;height:23%;vertical-align:middle}
.contenidos{display:inline-block;box-sizing:border-box;height:500px;margin:0;vertical-align:top;width:70%}
footer{border-radius:0 0 .5em .5em}
header .direccion{display:inline;margin:0 20px 0 160px}
header .titular{margin:0 400px 0 160px}
nav{border-radius:.5em .5em 0 0}
}